![Description](card.jpeg)

<div style="background-color:#000000; padding: 20px; border-radius: 5px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); border-left: 4px solid #007acc;">
    <h1 style="font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#ffffff;"><b>About Dataset</b></h1>
    <p style="font-size:16px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.5em; text-indent: 20px; color:#ffffff; font-style: italic;">
        This Credit Card Eligibility Dataset encompasses various factors that determine or influence a person's eligibility for a credit card. It includes demographic variables such as gender and employment status, family size, total income, education, occupation, and more. These elements collectively capture the complex nature of credit card assessments and are essential for evaluating creditworthiness and eligibility.
    </p>
</div>

| Column Name      | Description                                                                 |
|------------------|-----------------------------------------------------------------------------|
| ID               | An identifier for each individual (customer).                               |
| Gender           | The gender of the individual.                                              |
| Own_car          | A binary feature indicating whether the individual owns a car.              |
| Own_property     | A binary feature indicating whether the individual owns a property.         |
| Work_phone       | A binary feature indicating whether the individual has a work phone.        |
| Phone            | A binary feature indicating whether the individual has a phone.             |
| Email            | A binary feature indicating whether the individual has provided an email address. |
| Unemployed       | A binary feature indicating whether the individual is unemployed.           |
| Num_children     | The number of children the individual has.                                  |
| Num_family       | The total number of family members.                                         |
| Account_length   | The length of the individual's account with a bank or financial institution.|
| Total_income     | The total income of the individual.                                         |
| Age              | The age of the individual.                                                  |
| Years_employed   | The number of years the individual has been employed.                       |
| Income_type      | The type of income (e.g., employed, self-employed, etc.).                   |
| Education_type   | The education level of the individual.                                      |
| Family_status    | The family status of the individual.                                        |
| Housing_type     | The type of housing the individual lives in.                                |
| Occupation_type  | The type of occupation the individual is engaged in.                        |
| Target           | The target variable for the classification task, indicating whether the individual is eligible for a credit card or not (e.g., Yes/No, 1/0). |

<div style="background-color:#000000; padding: 20px; border-radius: 5px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); border-left: 4px solid #007acc;">
    <h1 style="font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#ffffff;"><b>Aims and Objectives</b></h1>
    <p style="font-size:16px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.5em; text-indent: 20px; color:#ffffff; font-style: italic;">
        The goal of this Credit Card Eligibility Dataset analysis is to investigate the factors influencing a person's eligibility for a credit card and to evaluate their creditworthiness.
       
    
</div>

<p style="background-color: #000000; font-family: 'Courier New', Courier, monospace; font-size: 28px; text-align: center; color: #FFFFFF; padding: 10px; border-radius: 20px;">
    üîçüìà Data Wrangling
</p>

<p style="background-color: #000000; font-family: 'Courier New', Courier, monospace; font-size: 28px; text-align: center; color: #FFFFFF; padding: 10px; border-radius: 20px;">
    Import Libraries
</p>

In [1]:
# Import Libraries
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import tensorflow as tf
# Import Train Test split and Grid Search Cv
from sklearn.model_selection import train_test_split, GridSearchCV
# Import LabelEncoder, StandardScaler, PolynomialFeatures
from sklearn.preprocessing import LabelEncoder, StandardScaler, PolynomialFeatures
# Column Transformer
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.ensemble import GradientBoostingClassifier
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
# Remove warnings 
import warnings
warnings.filterwarnings("ignore")

2024-05-27 20:59:59.145032: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-05-27 20:59:59.145265: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-05-27 20:59:59.334095: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

<p style="background-color: #000000; font-family: 'Courier New', Courier, monospace; font-size: 28px; text-align: center; color: #FFFFFF; padding: 10px; border-radius: 20px;">
    Dataset Overview
</p>

In [2]:
import pandas as pd
from IPython.display import display, HTML
import io

# Helper function to generate colored horizontal line
def colored_line(color='#ff00ff'):
    return f"<hr style='border: 2px solid {color};'>"

def print_dataset_analysis(df, n_top=5, heading_color='#d35400', line_color='#ff00ff', dash_color='#27ae60'):
    # Styling for the DataFrame display
    table_style = """
    <style>
        table {
            margin: 0 auto;
            border-collapse: collapse;
            color: #333;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
        tr:hover {background-color: #ddd;}
    </style>
    """
    
    # Printing top values
    train_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>üìã Top {n_top} Rows of the Dataset</strong></h2>"
    
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(train_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(table_style + df.head(n_top).to_html(border=0, index=False)))

    # Printing bottom values
    bottom_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>üîΩ Bottom {n_top} Rows of the Dataset</strong></h2>"
    
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(bottom_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(table_style + df.tail(n_top).to_html(border=0, index=False)))

    # Printing dataset summary
    summary_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>üìäDataset Summary Statistics</strong></h2>"
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(summary_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(table_style + df.describe().to_html(border=0)))

    # Printing dataset information
    info_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>üîçDataset Information</strong></h2>"
    buffer = io.StringIO()
    df.info(buf=buffer)
    info = buffer.getvalue().replace('\n', '<br>')
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(info_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(f"<pre>{info}</pre>"))

    # Printing dataset shape
    shape_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>üìèDataset Shape</strong></h2>"
    shape_info = f"<p>Rows: {df.shape[0]}, Columns: {df.shape[1]}</p>"
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(shape_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(shape_info))

    # Printing missing values
    null_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>‚ùì Missing Values in Dataset</strong></h2>"
    null_values = df.isnull().sum().to_frame().reset_index()
    null_values.columns = ['Column', 'Missing Values']
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(null_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(table_style + null_values.to_html(index=False, border=0)))

    # Printing duplicate rows
    duplicate_heading = f"<h2 style='color:{heading_color}; text-align:center;'><strong>‚ôªÔ∏è Duplicate Rows in Dataset</strong></h2>"
    duplicate_count = df.duplicated().sum()
    duplicate_info = f"<p>Number of duplicate rows: {duplicate_count}</p>"
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(duplicate_heading))
    display(HTML(f"<hr style='border: 2px solid {dash_color};'>"))
    display(HTML(duplicate_info))

# Load the DataFrame
df = pd.read_csv("dataset.csv")

# Call the function to display the information with the new color scheme
print_dataset_analysis(df, heading_color='#d35400', line_color='#174747', dash_color='#174747')

In [3]:
!pip install autoviz

Collecting autoviz
  Downloading autoviz-0.1.904-py3-none-any.whl.metadata (14 kB)
Collecting xlrd (from autoviz)
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: wordcloud in /opt/conda/lib/python3.10/site-packages (from autoviz) (1.9.3)
Requirement already satisfied: emoji in /opt/conda/lib/python3.10/site-packages (from autoviz) (2.11.0)
Collecting pyamg (from autoviz)
  Downloading pyamg-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.1 kB)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (from autoviz) (1.2.2)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.10/site-packages (from autoviz) (0.14.1)
Requirement already satisfied: nltk in /opt/conda/lib/python3.10/site-packages (from autoviz) (3.2.4)
Requirement already satisfied: textblob in /opt/conda/lib/python3.10/site-packages (from autoviz) (0.18.0.post0)
Collecting xgboost<1.7,>=0.82 (from autoviz)
  Downloading xgboost-1.6.2-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Requirement already satisfied: fsspec>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from autoviz) (2024.2.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /opt/conda/lib/python3.10/site-packages (from autoviz) (4.9.0)
Collecting pandas-dq>=1.29 (from autoviz)
  Downloading pandas_dq-1.29-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.24.0 in /opt/conda/lib/python3.10/site-packages (from autoviz) (1.26.4)
Collecting hvplot>=0.9.2 (from autoviz)
  Downloading hvplot-0.10.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: holoviews>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from autoviz) (1.18.3)
Requirement already satisfied: panel>=1.4.0 in /opt/conda/lib/python3.10/site-packages (from autoviz) (1.4.1)
Requirement already satisfied: pandas>=2.0 in /opt/conda/lib/python3.10/site-packages (from autoviz) (2.2.2)
Requirement already satisfied: matplotlib>3.7.4 in /opt/conda/lib/python3.10/site-packages (from autoviz) (3.7.5)
Collecting seaborn>0.12.2 (from autoviz)
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: param<3.0,>=1.12.0 in /opt/conda/lib/python3.10/site-packages (from holoviews>=1.16.0->autoviz) (2.1.0)
Requirement already satisfied: pyviz-comms>=0.7.4 in /opt/conda/lib/python3.10/site-packages (from holoviews>=1.16.0->autoviz) (3.0.2)
Requirement already satisfied: colorcet in /opt/conda/lib/python3.10/site-packages (from holoviews>=1.16.0->autoviz) (3.1.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from holoviews>=1.16.0->autoviz) (21.3)
Requirement already satisfied: bokeh>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from hvplot>=0.9.2->autoviz) (3.4.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib>3.7.4->autoviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=2.0->autoviz) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas>=2.0->autoviz) (2023.4)
Requirement already satisfied: xyzservices>=2021.09.1 in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (2024.4.0)
Requirement already satisfied: markdown in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (3.5.2)
Requirement already satisfied: markdown-it-py in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (3.0.0)
Requirement already satisfied: linkify-it-py in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (2.0.3)
Requirement already satisfied: mdit-py-plugins in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (0.4.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (2.31.0)
Requirement already satisfied: tqdm>=4.48.0 in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (4.66.1)
Requirement already satisfied: bleach in /opt/conda/lib/python3.10/site-packages (from panel>=1.4.0->autoviz) (6.1.0)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->autoviz) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->autoviz) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->autoviz) (3.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from nltk->autoviz) (1.16.0)
Requirement already satisfied: patsy>=0.5.4 in /opt/conda/lib/python3.10/site-packages (from statsmodels->autoviz) (0.5.6)
Collecting nltk (from autoviz)
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk->autoviz) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk->autoviz) (2023.12.25)
Requirement already satisfied: Jinja2>=2.9 in /opt/conda/lib/python3.10/site-packages (from bokeh>=1.0.0->hvplot>=0.9.2->autoviz) (3.1.2)
Requirement already satisfied: PyYAML>=3.10 in /opt/conda/lib/python3.10/site-packages (from bokeh>=1.0.0->hvplot>=0.9.2->autoviz) (6.0.1)
Requirement already satisfied: tornado>=6.2 in /opt/conda/lib/python3.10/site-packages (from bokeh>=1.0.0->hvplot>=0.9.2->autoviz) (6.3.3)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from bleach->panel>=1.4.0->autoviz) (0.5.1)
Requirement already satisfied: uc-micro-py in /opt/conda/lib/python3.10/site-packages (from linkify-it-py->panel>=1.4.0->autoviz) (1.0.3)
Requirement already satisfied: mdurl~=0.1 in /opt/conda/lib/python3.10/site-packages (from markdown-it-py->panel>=1.4.0->autoviz) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->panel>=1.4.0->autoviz) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->panel>=1.4.0->autoviz) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->panel>=1.4.0->autoviz) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->panel>=1.4.0->autoviz) (2024.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot>=0.9.2->autoviz) (2.1.3)
Downloading autoviz-0.1.904-py3-none-any.whl (67 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 67.5/67.5 kB 2.7 MB/s eta 0:00:00
Downloading hvplot-0.10.0-py3-none-any.whl (155 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 155.4/155.4 kB 6.0 MB/s eta 0:00:00
Downloading pandas_dq-1.29-py3-none-any.whl (29 kB)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 294.9/294.9 kB 13.1 MB/s eta 0:00:00
Downloading xgboost-1.6.2-py3-none-manylinux2014_x86_64.whl (255.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 255.9/255.9 MB 5.5 MB/s eta 0:00:00
Downloading pyamg-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.9/1.9 MB 48.9 MB/s eta 0:00:00
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.5/1.5 MB 40.7 MB/s eta 0:00:00
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 96.5/96.5 kB 4.6 MB/s eta 0:00:00
Installing collected packages: xlrd, nltk, xgboost, pyamg, seaborn, pandas-dq, hvplot, autoviz
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.4
    Uninstalling nltk-3.2.4:
      Successfully uninstalled nltk-3.2.4
  Attempting uninstall: xgboost
    Found existing installation: xgboost 2.0.3
    Uninstalling xgboost-2.0.3:
      Successfully uninstalled xgboost-2.0.3
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.12.2
    Uninstalling seaborn-0.12.2:
      Successfully uninstalled seaborn-0.12.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
preprocessing 0.1.13 requires nltk==3.2.4, but you have nltk 3.8.1 which is incompatible.
ydata-profiling 4.6.4 requires numpy<1.26,>=1.16.0, but you have numpy 1.26.4 which is incompatible.
ydata-profiling 4.6.4 requires seaborn<0.13,>=0.10.1, but you have seaborn 0.13.2 which is incompatible.
Successfully installed autoviz-0.1.904 hvplot-0.10.0 nltk-3.8.1 pandas-dq-1.29 pyamg-5.1.0 seaborn-0.13.2 xgboost-1.6.2 xlrd-2.0.1